body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #10100f;
    position:absolute;
}
canvas {
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}